<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm"  *ngIf="!isLoading">
        <mat-form-field>
            <input type="email" name="email" ngModel #emailInput="ngModel" matInput placeholder="E-Mail" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password" required>         
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid Password.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent">login</button>
    </form>
</mat-card>